/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*******************************/
/* GENERAL */
/*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-family: "Rubik";
}

html {
  font-size: 62.5%;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 3.2rem;
  margin-bottom: 7.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin: 2rem 0;

}

.subheading {
  display: block;
  text-transform: uppercase;
  color: #e67e22;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5;
}


.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: white;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  border-radius: 9px;
  margin-right: 10px;
  transition: all 0.3s;
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white; 
  color: #555;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9; 
  box-shadow: inset 0 0 0 3px;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.margin-up-md {
  margin-top: 4.8rem !important;
}

/*******************************/
/* HEADER */
/*******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9; 
  /* becuase we want the navigation to be sticky */
  height: 9.6rem;
  padding: 2rem 4.8rem;
}

.logo {
  height: 2.4rem;
}

/*******************************/
/* HERO SECTION */
/*******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 10rem;
}

.hero {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 2.6rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -0.8rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22 ;
}

.delivered-img img:last-child {
  margin-right: 1rem;
}

/*******************************/
/* NAVIGATION */
/*******************************/

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: white;
  padding: 1.1rem 2.2rem;
  border-radius: 9px;
}

/*******************************/
/* MEDIA QUERIES */
/*******************************/

@media screen and (max-width: 960px){
  .btn:link,
  .btn:visited {
    margin-top: 1rem;
  }

  .section-how {
    margin: 0 3rem;
  }

  .section-meals {
    margin: 0 3rem;

  }

  .heading-tertiary {
    font-size: 2.5rem;
  }

  .logos img {
    height: 2.5rem !important;
  }

  .meal-content {
    padding: 1rem !important;
  }
}


/*******************************/
/* HOW IT WORKS SECTION */
/*******************************/
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img {
  width: 35%;
  
}

.step-number {
  font-size: 6.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.section-how {
  padding: 9.6rem 0;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}


/*******************************/
/* GRID SYSTEM */
/*******************************/

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}


.container {
  max-width: 120rem;
  margin: 0 auto;
}

/*******************************/
/* FEATURED SECTION */
/*******************************/
.section-featured {
  padding: 4.8rem 0;
}
.heading-featured {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

/*******************************/
/* MEAL SECTION */
/*******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal-img {
  width: 100%;
}

.meal {
  border-radius: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  transition: all 0.4s;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
  margin-right: 1rem;
  margin-left: 1rem;
}

strong {
  font-weight: 500;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 500;
}

.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.tag---vegetarian {
  background-color: #51cf66;
}

.tag---vegan {
  background-color: #94d82d;
}

.tag---paleo {
  background-color: #ffd43b;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  color: #e67e22;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent; 
  transition: all 0.3s;
}

.center-text {
  text-align: center;
}

/* SECTION TESTIMONIALS */

.section-testimonials {
  display: grid;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 60%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.1rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;

}

.gallery-item img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.gallery-item  {
  overflow: hidden; 
}